<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev Hair Salon</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body
    class="bg-gradient-to-br from-[#fdf8f3] via-[#f7efe6] to-[#f3eadf] min-h-screen"
  >
    <header
      class="sticky top-0 z-30 bg-white/70 backdrop-blur-xl border-b border-[#eadfce] px-4 py-3 flex items-center justify-between"
    >
      <h1 class="text-lg font-semibold text-[#4a3a2f]"><span class="text-yellow-400">काशू</span> Dev Salon</h1>
      <!-- <span class=" px-3 py-2 rounded-full bg-green-100 text-green-700 text-xs sm:text-sm">
          Shop Open
        </span> -->

    </header>

    <main class="flex-1 p-4 sm:p-6 md:p-10"><%- body %></main>

   
  </body>
</html>
